*{
margin: 0;
padding:0 ;
font-family: sans-serif;
}

body{
height: 100%
}

.navbar{
padding: 20px 5%;
display: flex;
justify-content: space-between;
align-items: center;
position: sticky;
z-index: 999;
background-color: #f3f4f6;
box-shadow: 0 0 14px black;
}

.menu-btn{
color: grey;
font-size: 23px;
cursor: pointer;
display: none;
}

.navbar .logo h1{
color: grey;
border-bottom: 4px solid orange;
}

.navbar .menu li{
list-style: none;
display: inline-block;
}

.navbar .menu li a{
display: block;
margin-left: 20px;
color: grey;
border-bottom: 4px solid transparent;
text-decoration: none;
font-size: 20px;
font-weight: bold;
}

.navbar .menu li a i{
color: orange;
}

.navbar .menu li a:hover {
border-bottom: 4px solid orange;
}

